
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */