body
{
	background-color: #303030;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	color: white;
	text-align: center;
	border-style: solid;
	border-color: white;
}

.rectangle
{
	background-color: #3095d3;
	width: 100px;
	float: left;
	min-height: 450px;
}

#scoitaner
{
	margin-top: 30px;
	width: 800px;
	float: left;
	text-align: center;
	color: white;
	font-size: 20px;
}

#footer
{
	background-color: black;
	text-align: center;
	color: white;
	clear: both;
	padding: 10px;
}

#amount
{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#data
{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
		
}

#payment_method
{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}

#category
{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}

#comment
{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}