body
{
	background-color: #F5F5F5;
	font-family: 'Lato', sans-serif;
	color: black;
}

.container-fluid 
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.header
{
	padding: 30px 0;
	background-color: #303030;
	text-align: center;
}

h1
{
	font-size: 50px;
	letter-spacing: 2px;
	color: white;
}

#main
{
	margin-top: 40px;
	font-size: 15px;
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#main #title
{
	font-size: 30px;
	color: #0066ff;
}

.log_form
{
	font-size: 30px;
	margin-top: 20px;	
	margin-bottom: 30px;
}

.navbar
{
	background-color: grey;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

ul.nav a {color: white; transition: color 0.2s ease-in-out;}
ul.nav a:hover {color: black;}

ul.nav > li {border-radius: 10px; transition: background-color 0.2s ease-in-out;}
ul.nav > li:hover {background-color: white;}

#hamburger-icon 
{
	color: white;
	font-size: 29px;
}

.dropdown-menu
{
	background-color: grey;
	margin-top: 10px;
	border-color:black;
	border-width: 1px;
	border-radius: 7px;
	text-align: center;
	color: white;
}

.btn-modal-cancel {background-color: #cc0000; color: white;}
.btn-modal-cancel:hover {background-color: #e60000; color: white;}


.btn-modal-ok {background-color: #0066ff; color: white;}
.btn-modal-ok:hover {background-color: #3385ff; color: white;}

.dropdown-item {color: white;}

.pic
{
	margin-top: 30px;
	width: 350px;	
	border-radius: 5px;
	border-color: #0066ff;
	border-style: solid;
	border-width: 1px;
}
#welcome 
{
	margin-top: 90px;
	font-size: 50px;
	color: #0066ff;
	
}

#welcome div div
{
	margin-bottom: 30px;
	font-size: 20px;
}

fieldset
{
	margin-top: 20px;
	border: none;
}

legend
{
	font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"]
{
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #ddd;
	border-radius: 5px;
	border-color: grey;
	font-size: 17px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.75);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.75);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[class="register"]
{
	width: 300px;
	background-color: #00b33c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	margin-top: 30px;
	transition: background-color 0.2s ease-in-out;
}

input[class="register"]:hover
{
	background-color: #00cc44;
}

input[class="login"]
{
	width: 300px;
	background-color: #0066ff;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	margin-top: 30px;
	transition: background-color 0.2s ease-in-out;
}

input[class="login"]:hover
{
	background-color: #3385ff;
}

input[class="register"]:focus,
input[class="login"]:focus,
input[class="ok"]:focus,
input[class="cancel"]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.75);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.75);
}

input[class="ok"]
{
	background-color: #0066ff;
	margin-top: 25px;
	width: 300px;
	font-size: 20px;
	color: white;
	padding: 10px 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	transition: background-color 0.2s ease-in-out;
}

input[class="ok"]:hover
{
	background-color: #3385ff;
}

input[class="cancel"]
{
	background-color: #cc0000;
	width: 300px;
	font-size: 20px;
	color: white;
	padding: 10px 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 30px;
	transition: background-color 0.2s ease-in-out;
}

input[class="cancel"]:hover
{
	background-color: #e60000;
}

.table1
{
	margin-top: 20px;
	border-style: dashed;
	border-width: 1px;
	border-radius: 10px;
	border-color: #0066ff;
}

table
{
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
}

th
{
	padding: 10px;
	text-align: center;
}

.summary
{
	margin-top: 20px;
	color: #00b33c;
	font-weight: bold;
}

#piechart
{
	margin-top: 50px;
	color: #0066ff;
	margin-left: auto;
	margin-right: auto;
}